.preview{
    width: 50%;
}

.main{
    display: flex;
    border: 2px solid grey;
    width: 100%;
}

.textarea{
    width: 50%;
    color: black;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
}